<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <style>
        body {background-color: #262626;}
    </style>
</head>
<body>
<div th:fragment="footer" style="background-color: #262626;">
    <!-- Remove the container if you want to extend the Footer to full width. -->
    <div class="container my-">

        <footer class="text-center text-lg-start border border-white mt-xl-5 pt-4">
            <!-- Grid container -->
            <div class="container p-4">
                <!--Grid row-->
                <div class="row">
                    <!--Grid column-->
                    <div class="col-lg-3 col-md-6 mb-4 mb-lg-0">
                        <h5 class="text-uppercase mb-4">OUR WORLD</h5>

                        <ul class="list-unstyled mb-4">
                            <li>
                                <a class="text-white" href="#!">About us</a>
                            </li>
                            <li>
                                <a class="text-white" href="#!">Collections</a>
                            </li>
                            <li>
                                <a class="text-white" href="#!">Environmental philosophy</a>
                            </li>
                            <li>
                                <a class="text-white" href="#!">Artist collaborations</a>
                            </li>
                        </ul>
                    </div>
                    <!--Grid column-->

                    <!--Grid column-->
                    <div class="col-lg-3 col-md-6 mb-4 mb-lg-0">
                        <h5 class="text-uppercase mb-4">Assistance</h5>

                        <ul class="list-unstyled">
                            <li>
                                <a class="text-white" href="#!">Contact us</a>
                            </li>
                            <li>
                                <a class="text-white" href="#!">Size Guide</a>
                            </li>
                            <li>
                                <a class="text-white" href="#!">Shipping Information</a>
                            </li>
                            <li>
                                <a class="text-white" href="#!">Returns & Exchanges</a>
                            </li>
                            <li>
                                <a class="text-white" href="#!">Payment</a>
                            </li>
                        </ul>
                    </div>
                    <!--Grid column-->

                    <!--Grid column-->
                    <div class="col-lg-3 col-md-6 mb-4 mb-lg-0">
                        <h5 class="text-uppercase mb-4">Careers</h5>

                        <ul class="list-unstyled">
                            <li>
                                <a class="text-white" href="#!">Jobs</a>
                            </li>
                        </ul>
                    </div>
                    <!--Grid column-->

                    <!--Grid column-->
                    <div class="col-lg-3 col-md-6 mb-4 mb-lg-0">
                        <h5 class="text-uppercase mb-4">Sign up to our newsletter</h5>

                        <div class="form-outline form-white mb-4">
                            <input class="form-control" id="form5Example2" type="email"/>
                            <label class="form-label" for="form5Example2">Email address</label>
                        </div>

                        <button class="btn btn-outline-white btn-block" type="submit">Subscribe</button>
                    </div>
                    <!--Grid column-->
                </div>
                <!--Grid row-->
            </div>
            <!-- Grid container -->

            <!-- Copyright -->
            <div class="text-center p-3 border-top border-white">
                © 2020 Copyright:
                <a class="text-white" href="https://mdbootstrap.com/">MDBootstrap.com</a>
            </div>
            <!-- Copyright -->
        </footer>

    </div>
    <!-- End of .container -->
</div>
</body>
</html>