<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body th:fragment="createUser">
<form th:action="@{/user/create}" th:object="${userObj}" method="post">
    <div class="row">
        <div class="col-md-3">
            <label for="userName">User Name:</label>
            <input class="form-control" id="userName" type="text" th:field = "*{userName}">
        </div>
        <div class="col-md-3">
            <label for="pwd">Password:</label>
            <input class="form-control" id="pwd" type="password" th:field = "*{password}">
        </div>
        <div class="col-md-3">
            <label for="firstName">First Name:</label>
            <input class="form-control" id="firstName" type="text">
        </div>
        <div class="col-md-3">
            <label for="lastName">LastName:</label>
            <input class="form-control" id="lastName" type="text">
        </div>
    </div>
    <div class="row">
        <div class="col-md-3">
            <label for="contactNo">Contact No:</label>
            <input class="form-control" id="contactNo" type="text">
        </div>
        <div class="col-md-3">
            <label for="address">Address:</label>
            <input class="form-control" id="address" type="text">
        </div>
    </div>
    <div class="row">
        <div class="col-md-3">
            <div class="form-group">
                <button class="btn btn-success" type="submit">Create</button>
            </div>
        </div>
    </div>
</form>
</body>
</html>