<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body th:fragment="updateUser">
<form  action="@{/user/updateUser}" th:object="${userUdt}" method="post">
    <div class="form-group">
        <label for="userName">User Name:</label>
        <input type="text" class="form-control" id="userName" th:field = "*{userName}">
    </div>
    <div class="form-group">
        <label for="pwd">Pass:</label>
        <input type="password" class="form-control" id="pwd" th:field = "*{password}">
    </div>
    <div class="form-group">
        <label for="pwd">Confirm Password:</label>
        <input type="password" class="form-control" id="pwd1" th:field = "*{password}">
    </div>
    <p class="form-actions">
    <div class="form-group">
        <input type="submit" class="btn btn-primary" value="Change Password" title="Change password"/>
    </div>
    </p>
</form>
</body>
</html>